  table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #4CAF50;
      color: white;
    }

    .status-disponivel {
      color: green;
      font-weight: bold;
    }

    .status-devolvido {
      color: blue;
      font-weight: bold;
    }

    .status-arquivado {
      color: gray;
      font-weight: bold;
    }